*.aux
\#*
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.hi
*.log
*.o
*.out
*.out.pyg
*.run.xml
*.swp
*.synctex.gz
*.toc
*.un~
*.xdy
.*
.DS_Store
_cache
_site
cabal.sandbox.config
dist
site