/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin,latin-ext);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, scss/scss/screen.scss */
body, .contents {
  counter-reset: sectLev1;
}

/* line 11, scss/scss/screen.scss */
body {
  background: #eee;
  color: #000;
  font-family: "Roboto Slab";
  margin: 1em;
}

/* line 18, scss/scss/screen.scss */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* line 22, scss/scss/screen.scss */
nav {
  width: 16.66667%;
}
/* line 42, ../../../../../../Library/Ruby/Gems/2.0.0/gems/gridle-2.0.41/stylesheets/gridle/_mixins.scss */
nav, .contents {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 24, scss/scss/screen.scss */
nav img {
  width: 100%;
  margin-bottom: 1em;
}
/* line 28, scss/scss/screen.scss */
nav a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: "Open Sans";
}
/* line 33, scss/scss/screen.scss */
nav a:hover {
  text-decoration: underline;
}
/* line 38, scss/scss/screen.scss */
nav ul.l0 > li > a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
  color: rgba(0, 0, 0, 0.001);
  font-size: 1.5em;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5), -1px -1px rgba(0, 0, 0, 0.5);
}
/* line 47, scss/scss/screen.scss */
nav ul.l1 > li > a {
  margin-left: 3ex;
  margin-bottom: 0.25em;
}
/* line 50, scss/scss/screen.scss */
nav ul.l1 > li > a:before {
  content: counter(sectLev1) ". ";
  counter-increment: sectLev1;
  display: inline-block;
  width: 3ex;
  margin-left: -3ex;
}

/* line 60, scss/scss/screen.scss */
.contents {
  width: 83.33333%;
  text-align: justify;
}
/* line 66, scss/scss/screen.scss */
.contents section.l0 .l0-head {
  background: #fff;
  padding: 2em;
  margin: 0 0 2em;
  box-shadow: 0 0 10px 5px #ccc inset;
}
/* line 72, scss/scss/screen.scss */
.contents section.l0 h1 {
  font-size: 5em;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: thin solid black;
  margin-bottom: 0.5em;
}
/* line 80, scss/scss/screen.scss */
.contents section.l0 .intro {
  -webkit-column-count: 2;
}
/* line 85, scss/scss/screen.scss */
.contents section.l1 {
  background: white;
  padding: 1em;
  margin: 0 0 2em;
  box-shadow: 0 0 10px 5px #ccc;
}
/* line 90, scss/scss/screen.scss */
.contents section.l1 h2 {
  font-family: "Open Sans Condensed";
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 95, scss/scss/screen.scss */
.contents section.l1 h2:before {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  counter-increment: sectLev1;
  content: counter(sectLev1) ".";
}
